/* Resetting default margins and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling the body with a comfortable font and background */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f1f1f1;
    color: #333;
    line-height: 1.6;
}

/* Header styling */
header {
    background-color: #004d80;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

/* Navigation bar styling */
nav {
    background-color: #022851;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Styling for sections */
section {
    background: #ffffff;
    padding: 20px;
    margin: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
}

/* Book categories styling */
.book-category {
    margin-top: 20px;
    background: #eee;
    padding: 10px;
    border-radius: 5px;
}

.book-category img {
    width: 40%;
    height: auto;
    border-radius: 5px;
}

.book-category h3 {
    color: #004d80;
    margin-top: 0.5em;
}

.book-category ul {
    padding: 0;
}

.book-category li {
    list-style-type: none;
    line-height: 1.7;
}

.book-category a {
    color: #0066cc;
    text-decoration: none;
}

.book-category a:hover {
    text-decoration: underline;
}

/* Slideshow container */
.slideshow-container {
    max-width: 500px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Fade animation */
.fade {
    animation-name: fade;
    animation-duration: 2.5s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* Footer styling */
footer {
    background-color: #022851;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Responsive Design */
@media (max-width: 768px) {
    nav ul {
        text-align: center;
        padding: 0;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}
#navbar{
    position: sticky;
    top: 0;
    width: 100%;
}